In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('situacaofinalalunos2019.csv', sep = ';')
df

,ano,nescolnome,ebairrnome,eescolruae,aescolnume,cescolrpae,modens,compens,anoensino,esermodesc,nmodennome,turma,nturesnome,mat,alunosexo,situ,esitaldesc
0,2019,ABILIO GOMES,BOA VIAGEM,BRUNO VELOZO,S/N,6,0,5,GRUPO V,GRUPO V,EDUCACAO INFANTIL,A,MANHÃ,17049660,F,AP,APROVADO
1,2019,ABILIO GOMES,BOA VIAGEM,BRUNO VELOZO,S/N,6,0,5,GRUPO V,GRUPO V,EDUCACAO INFANTIL,A,MANHÃ,18630162,F,AP,APROVADO
2,2019,ABILIO GOMES,BOA VIAGEM,BRUNO VELOZO,S/N,6,0,5,GRUPO V,GRUPO V,EDUCACAO INFANTIL,A,MANHÃ,19006314,F,AP,APROVADO
3,2019,ABILIO GOMES,BOA VIAGEM,BRUNO VELOZO,S/N,6,0,5,GRUPO V,GRUPO V,EDUCACAO INFANTIL,A,MANHÃ,19000596,M,AP,APROVADO
4,2019,ABILIO GOMES,BOA VIAGEM,BRUNO VELOZO,S/N,6,0,5,GRUPO V,GRUPO V,EDUCACAO INFANTIL,A,MANHÃ,19013272,M,AP,APROVADO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97362,2019,27 DE NOVEMBRO,COHAB,DOZE DE JUNHO,1120,6,1,4,5º ANO,5º ANO,ENSINO FUNDAMENTAL,B,TARDE,13232231,M,AP,APROVADO
97363,2019,27 DE NOVEMBRO,COHAB,DOZE DE JUNHO,1120,6,1,4,5º ANO,5º ANO,ENSINO FUNDAMENTAL,B,TARDE,11695722,M,AP,APROVADO
97364,2019,27 DE NOVEMBRO,COHAB,DOZE DE JUNHO,1120,6,1,4,5º ANO,5º ANO,ENSINO FUNDAMENTAL,B,TARDE,14156032,M,AP,APROVADO
97365,2019,27 DE NOVEMBRO,COHAB,DOZE DE JUNHO,1120,6,1,4,5º ANO,5º ANO,ENSINO FUNDAMENTAL,B,TARDE,13232274,F,AP,APROVADO
97366,2019,27 DE NOVEMBRO,COHAB,DOZE DE JUNHO,1120,6,1,4,5º ANO,5º ANO,ENSINO FUNDAMENTAL,B,TARDE,13149512,F,AP,APROVADO

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97367 entries, 0 to 97366
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ano         97367 non-null  int64
 1   nescolnome  97367 non-null  object
 2   ebairrnome  97367 non-null  object
 3   eescolruae  97367 non-null  object
 4   aescolnume  97367 non-null  object
 5   cescolrpae  97367 non-null  int64
 6   modens      97367 non-null  int64
 7   compens     97367 non-null  object
 8   anoensino   97367 non-null  object
 9   esermodesc  97367 non-null  object
 10  nmodennome  97367 non-null  object
 11  turma       97367 non-null  object
 12  nturesnome  97367 non-null  object
 13  mat         97367 non-null  int64
 14  alunosexo   97367 non-null  object
 15  situ        97367 non-null  object
 16  esitaldesc  97367 non-null  object
dtypes: int64(4), object(13)
memory usage: 12.6+ MB

In [4]:
df['anoensino'].unique()

array(['GRUPO V', '1º ANO', '2º ANO', '3º ANO', '4º ANO', '5º ANO',
       'MÓDULO 2', 'MÓDULO 1', 'MÓDULO 3', 'BERÇÁRIO', 'GRUPO I',
       'GRUPO II', 'GRUPO III', 'GRUPO IV', 'ACELERA', 'SE LIGA',
       'PROJOVEM', 'MÓDULO 4', 'MÓDULO 5', '6º ANO', '7º ANO', '8º ANO',
       '9º ANO', 'TRAVESSIA RECIFE'], dtype=object)

In [5]:
df[df['anoensino']=='9º ANO']

,ano,nescolnome,ebairrnome,eescolruae,aescolnume,cescolrpae,modens,compens,anoensino,esermodesc,nmodennome,turma,nturesnome,mat,alunosexo,situ,esitaldesc
4818,2019,ANDRE DE MELO,ESTANCIA,MORAES E SILVA,180,5,1,8,9º ANO,9º ANO,ENSINO FUNDAMENTAL,A,TARDE,15755274,M,TA,TR DUR ANO P/REDE
4819,2019,ANDRE DE MELO,ESTANCIA,MORAES E SILVA,180,5,1,8,9º ANO,9º ANO,ENSINO FUNDAMENTAL,A,TARDE,14286068,F,RN,RENV S/SIT FINAL DEF
4820,2019,ANDRE DE MELO,ESTANCIA,MORAES E SILVA,180,5,1,8,9º ANO,9º ANO,ENSINO FUNDAMENTAL,A,TARDE,5035864,M,RN,RENV S/SIT FINAL DEF
4821,2019,ANDRE DE MELO,ESTANCIA,MORAES E SILVA,180,5,1,8,9º ANO,9º ANO,ENSINO FUNDAMENTAL,A,TARDE,12059293,M,RN,RENV S/SIT FINAL DEF
4822,2019,ANDRE DE MELO,ESTANCIA,MORAES E SILVA,180,5,1,8,9º ANO,9º ANO,ENSINO FUNDAMENTAL,A,TARDE,13165470,M,RN,RENV S/SIT FINAL DEF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95082,2019,VILA SESAMO,COHAB,VALE DO CARIRI,290,6,1,8,9º ANO,9º ANO,ENSINO FUNDAMENTAL,B,TARDE,10151230,F,RN,RENV S/SIT FINAL DEF
95083,2019,VILA SESAMO,COHAB,VALE DO CARIRI,290,6,1,8,9º ANO,9º ANO,ENSINO FUNDAMENTAL,B,TARDE,5093252,F,RN,RENV S/SIT FINAL DEF
95084,2019,VILA SESAMO,COHAB,VALE DO CARIRI,290,6,1,8,9º ANO,9º ANO,ENSINO FUNDAMENTAL,B,TARDE,6280501,M,RN,RENV S/SIT FINAL DEF
95085,2019,VILA SESAMO,COHAB,VALE DO CARIRI,290,6,1,8,9º ANO,9º ANO,ENSINO FUNDAMENTAL,B,TARDE,15076784,F,RN,RENV S/SIT FINAL DEF
95086,2019,VILA SESAMO,COHAB,VALE DO CARIRI,290,6,1,8,9º ANO,9º ANO,ENSINO FUNDAMENTAL,B,TARDE,9115560,F,RN,RENV S/SIT FINAL DEF

In [6]:
da = df.loc[(df['anoensino']=='9º ANO'), ['ano', 'nescolnome', 'ebairrnome', 'cescolrpae', 'anoensino', 'nturesnome', 'mat', 'alunosexo', 'situ', 'esitaldesc']]

In [8]:
da.to_csv('tabela9ano2019.csv', sep = ';' , index=False)
da

,ano,nescolnome,ebairrnome,cescolrpae,anoensino,nturesnome,mat,alunosexo,situ,esitaldesc
4818,2019,ANDRE DE MELO,ESTANCIA,5,9º ANO,TARDE,15755274,M,TA,TR DUR ANO P/REDE
4819,2019,ANDRE DE MELO,ESTANCIA,5,9º ANO,TARDE,14286068,F,RN,RENV S/SIT FINAL DEF
4820,2019,ANDRE DE MELO,ESTANCIA,5,9º ANO,TARDE,5035864,M,RN,RENV S/SIT FINAL DEF
4821,2019,ANDRE DE MELO,ESTANCIA,5,9º ANO,TARDE,12059293,M,RN,RENV S/SIT FINAL DEF
4822,2019,ANDRE DE MELO,ESTANCIA,5,9º ANO,TARDE,13165470,M,RN,RENV S/SIT FINAL DEF
...,...,...,...,...,...,...,...,...,...,...
95082,2019,VILA SESAMO,COHAB,6,9º ANO,TARDE,10151230,F,RN,RENV S/SIT FINAL DEF
95083,2019,VILA SESAMO,COHAB,6,9º ANO,TARDE,5093252,F,RN,RENV S/SIT FINAL DEF
95084,2019,VILA SESAMO,COHAB,6,9º ANO,TARDE,6280501,M,RN,RENV S/SIT FINAL DEF
95085,2019,VILA SESAMO,COHAB,6,9º ANO,TARDE,15076784,F,RN,RENV S/SIT FINAL DEF
95086,2019,VILA SESAMO,COHAB,6,9º ANO,TARDE,9115560,F,RN,RENV S/SIT FINAL DEF