In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('situacaofinalalunos2021.csv', sep = ';')
df

,ano,nescolnome,ebairrnome,eescolruae,aescolnume,cescolrpae,modens,compens,anoensino,esermodesc,nmodennome,turma,nturesnome,mat,alunosexo,situ,esitaldesc
0,2021,ABILIO GOMES,BOA VIAGEM,BRUNO VELOZO,S/N,6,0,5,GRUPO V,GRUPO V,EDUCACAO INFANTIL,B,TARDE,20686633,F,AP,APROVADO
1,2021,ABILIO GOMES,BOA VIAGEM,BRUNO VELOZO,S/N,6,0,5,GRUPO V,GRUPO V,EDUCACAO INFANTIL,B,TARDE,16809092,F,AP,APROVADO
2,2021,ABILIO GOMES,BOA VIAGEM,BRUNO VELOZO,S/N,6,0,5,GRUPO V,GRUPO V,EDUCACAO INFANTIL,B,TARDE,19930623,F,AP,APROVADO
3,2021,ABILIO GOMES,BOA VIAGEM,BRUNO VELOZO,S/N,6,0,5,GRUPO V,GRUPO V,EDUCACAO INFANTIL,B,TARDE,20648782,M,AP,APROVADO
4,2021,ABILIO GOMES,BOA VIAGEM,BRUNO VELOZO,S/N,6,0,5,GRUPO V,GRUPO V,EDUCACAO INFANTIL,B,TARDE,20649444,M,AP,APROVADO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97019,2021,27 DE NOVEMBRO,COHAB,DOZE DE JUNHO,1120,6,1,4,5º ANO,5º ANO,ENSINO FUNDAMENTAL,B,TARDE,16048857,F,AP,APROVADO
97020,2021,27 DE NOVEMBRO,COHAB,DOZE DE JUNHO,1120,6,1,4,5º ANO,5º ANO,ENSINO FUNDAMENTAL,B,TARDE,16627172,M,AP,APROVADO
97021,2021,27 DE NOVEMBRO,COHAB,DOZE DE JUNHO,1120,6,1,4,5º ANO,5º ANO,ENSINO FUNDAMENTAL,B,TARDE,19157045,M,AP,APROVADO
97022,2021,27 DE NOVEMBRO,COHAB,DOZE DE JUNHO,1120,6,1,4,5º ANO,5º ANO,ENSINO FUNDAMENTAL,B,TARDE,19993722,M,AP,APROVADO
97023,2021,27 DE NOVEMBRO,COHAB,DOZE DE JUNHO,1120,6,1,4,5º ANO,5º ANO,ENSINO FUNDAMENTAL,B,TARDE,15075877,M,AP,APROVADO

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97024 entries, 0 to 97023
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ano         97024 non-null  int64
 1   nescolnome  97024 non-null  object
 2   ebairrnome  97024 non-null  object
 3   eescolruae  95988 non-null  object
 4   aescolnume  97024 non-null  object
 5   cescolrpae  97024 non-null  int64
 6   modens      97024 non-null  int64
 7   compens     96923 non-null  object
 8   anoensino   97024 non-null  object
 9   esermodesc  96923 non-null  object
 10  nmodennome  97024 non-null  object
 11  turma       97024 non-null  object
 12  nturesnome  97024 non-null  object
 13  mat         97024 non-null  int64
 14  alunosexo   97024 non-null  object
 15  situ        97024 non-null  object
 16  esitaldesc  97024 non-null  object
dtypes: int64(4), object(13)
memory usage: 12.6+ MB

In [4]:
df['anoensino'].unique()

array(['GRUPO V', '1º ANO', '2º ANO', '3º ANO', '4º ANO', '5º ANO',
       'ACELERA', 'MÓDULO 2', 'MÓDULO 1', 'MÓDULO 3', 'BERÇÁRIO',
       'GRUPO I', 'GRUPO II', 'GRUPO III', 'GRUPO IV', 'SE LIGA',
       '6º ANO', '7º ANO', '8º ANO', '9º ANO', 'TRAVESSIA RECIFE',
       'MÓDULO 4', 'MÓDULO 5'], dtype=object)

In [5]:
df[df['anoensino']=='9º ANO']

,ano,nescolnome,ebairrnome,eescolruae,aescolnume,cescolrpae,modens,compens,anoensino,esermodesc,nmodennome,turma,nturesnome,mat,alunosexo,situ,esitaldesc
4836,2021,ANDRE DE MELO,ESTANCIA,MORAES E SILVA,180,5,1,8,9º ANO,9º ANO,ENSINO FUNDAMENTAL,A,TARDE,10243526,F,TA,TR DUR ANO P/REDE
4837,2021,ANDRE DE MELO,ESTANCIA,MORAES E SILVA,180,5,1,8,9º ANO,9º ANO,ENSINO FUNDAMENTAL,A,TARDE,7338074,M,AP,APROVADO
4838,2021,ANDRE DE MELO,ESTANCIA,MORAES E SILVA,180,5,1,8,9º ANO,9º ANO,ENSINO FUNDAMENTAL,A,TARDE,11601531,F,TA,TR DUR ANO P/REDE
4839,2021,ANDRE DE MELO,ESTANCIA,MORAES E SILVA,180,5,1,8,9º ANO,9º ANO,ENSINO FUNDAMENTAL,A,TARDE,17696720,F,AP,APROVADO
4840,2021,ANDRE DE MELO,ESTANCIA,MORAES E SILVA,180,5,1,8,9º ANO,9º ANO,ENSINO FUNDAMENTAL,A,TARDE,17632803,F,AP,APROVADO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94726,2021,VILA SESAMO,COHAB,VALE DO CARIRI,290,6,1,8,9º ANO,9º ANO,ENSINO FUNDAMENTAL,B,TARDE,13107070,M,AP,APROVADO
94727,2021,VILA SESAMO,COHAB,VALE DO CARIRI,290,6,1,8,9º ANO,9º ANO,ENSINO FUNDAMENTAL,B,TARDE,13126156,F,AP,APROVADO
94728,2021,VILA SESAMO,COHAB,VALE DO CARIRI,290,6,1,8,9º ANO,9º ANO,ENSINO FUNDAMENTAL,B,TARDE,13199854,F,AP,APROVADO
94729,2021,VILA SESAMO,COHAB,VALE DO CARIRI,290,6,1,8,9º ANO,9º ANO,ENSINO FUNDAMENTAL,B,TARDE,13200020,M,AP,APROVADO
94730,2021,VILA SESAMO,COHAB,VALE DO CARIRI,290,6,1,8,9º ANO,9º ANO,ENSINO FUNDAMENTAL,B,TARDE,14190800,F,AP,APROVADO

In [8]:
da = df.loc[(df['anoensino']=='9º ANO'), ['ano', 'nescolnome', 'ebairrnome', 'cescolrpae', 'anoensino', 'nturesnome', 'mat', 'alunosexo', 'situ', 'esitaldesc']]

In [9]:
da.to_csv('tabela9ano2021.csv', sep = ';' , index=False)
da

,ano,nescolnome,ebairrnome,cescolrpae,anoensino,nturesnome,mat,alunosexo,situ,esitaldesc
4836,2021,ANDRE DE MELO,ESTANCIA,5,9º ANO,TARDE,10243526,F,TA,TR DUR ANO P/REDE
4837,2021,ANDRE DE MELO,ESTANCIA,5,9º ANO,TARDE,7338074,M,AP,APROVADO
4838,2021,ANDRE DE MELO,ESTANCIA,5,9º ANO,TARDE,11601531,F,TA,TR DUR ANO P/REDE
4839,2021,ANDRE DE MELO,ESTANCIA,5,9º ANO,TARDE,17696720,F,AP,APROVADO
4840,2021,ANDRE DE MELO,ESTANCIA,5,9º ANO,TARDE,17632803,F,AP,APROVADO
...,...,...,...,...,...,...,...,...,...,...
94726,2021,VILA SESAMO,COHAB,6,9º ANO,TARDE,13107070,M,AP,APROVADO
94727,2021,VILA SESAMO,COHAB,6,9º ANO,TARDE,13126156,F,AP,APROVADO
94728,2021,VILA SESAMO,COHAB,6,9º ANO,TARDE,13199854,F,AP,APROVADO
94729,2021,VILA SESAMO,COHAB,6,9º ANO,TARDE,13200020,M,AP,APROVADO
94730,2021,VILA SESAMO,COHAB,6,9º ANO,TARDE,14190800,F,AP,APROVADO