In [7]:
import numpy as np
import pandas as pd

In [8]:
df = pd.read_csv('situacaofinalalunos2022.csv', sep = ';')
df

,ano,nescolnome,ebairrnome,eescolruae,aescolnume,cescolrpae,modens,compens,anoensino,esermodesc,nmodennome,turma,nturesnome,mat,alunosexo,situ,esitaldesc
0,2022,ABILIO GOMES,BOA VIAGEM,BRUNO VELOZO,S/N,6,0,5,GRUPO V,GRUPO V,EDUCACAO INFANTIL,A,MANHÃ,20068166,M,AP,APROVADO
1,2022,ABILIO GOMES,BOA VIAGEM,BRUNO VELOZO,S/N,6,0,5,GRUPO V,GRUPO V,EDUCACAO INFANTIL,A,MANHÃ,21610452,F,TR,TR DUR ANO FORA REDE
2,2022,ABILIO GOMES,BOA VIAGEM,BRUNO VELOZO,S/N,6,0,5,GRUPO V,GRUPO V,EDUCACAO INFANTIL,A,MANHÃ,22150900,F,AP,APROVADO
3,2022,ABILIO GOMES,BOA VIAGEM,BRUNO VELOZO,S/N,6,0,5,GRUPO V,GRUPO V,EDUCACAO INFANTIL,A,MANHÃ,22113339,M,AP,APROVADO
4,2022,ABILIO GOMES,BOA VIAGEM,BRUNO VELOZO,S/N,6,0,5,GRUPO V,GRUPO V,EDUCACAO INFANTIL,A,MANHÃ,22015973,F,AP,APROVADO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97255,2022,27 DE NOVEMBRO,COHAB,DOZE DE JUNHO,1120,6,1,4,5º ANO,5º ANO,ENSINO FUNDAMENTAL,B,TARDE,20121016,M,AP,APROVADO
97256,2022,27 DE NOVEMBRO,COHAB,DOZE DE JUNHO,1120,6,1,4,5º ANO,5º ANO,ENSINO FUNDAMENTAL,B,TARDE,21011699,F,AP,APROVADO
97257,2022,27 DE NOVEMBRO,COHAB,DOZE DE JUNHO,1120,6,1,4,5º ANO,5º ANO,ENSINO FUNDAMENTAL,B,TARDE,21069603,M,AP,APROVADO
97258,2022,27 DE NOVEMBRO,COHAB,DOZE DE JUNHO,1120,6,1,4,5º ANO,5º ANO,ENSINO FUNDAMENTAL,B,TARDE,13250400,F,AP,APROVADO
97259,2022,27 DE NOVEMBRO,COHAB,DOZE DE JUNHO,1120,6,1,4,5º ANO,5º ANO,ENSINO FUNDAMENTAL,B,TARDE,22694617,M,AP,APROVADO

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97260 entries, 0 to 97259
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ano         97260 non-null  int64
 1   nescolnome  97260 non-null  object
 2   ebairrnome  97260 non-null  object
 3   eescolruae  94937 non-null  object
 4   aescolnume  97260 non-null  object
 5   cescolrpae  97260 non-null  int64
 6   modens      97260 non-null  int64
 7   compens     97169 non-null  object
 8   anoensino   97260 non-null  object
 9   esermodesc  97169 non-null  object
 10  nmodennome  97260 non-null  object
 11  turma       97260 non-null  object
 12  nturesnome  97260 non-null  object
 13  mat         97260 non-null  int64
 14  alunosexo   97260 non-null  object
 15  situ        97260 non-null  object
 16  esitaldesc  97260 non-null  object
dtypes: int64(4), object(13)
memory usage: 12.6+ MB

In [10]:
df['anoensino'].unique()

array(['GRUPO V', '1º ANO', '2º ANO', '3º ANO', '4º ANO', '5º ANO',
       'MÓDULO 1', 'MÓDULO 2', 'MÓDULO 3', 'BERÇÁRIO', 'GRUPO I',
       'GRUPO II', 'GRUPO III', 'GRUPO IV',
       'CORRECAO DE FLUXO 1 - ALFABETIZACAO',
       'CORRECAO DE FLUXO 2 - ACELERACAO', '6º ANO', '7º ANO', '8º ANO',
       '9º ANO', 'MÓDULO 4', 'MÓDULO 5', 'TRAVESSIA RECIFE'], dtype=object)

In [11]:
df[df['anoensino']=='9º ANO']

,ano,nescolnome,ebairrnome,eescolruae,aescolnume,cescolrpae,modens,compens,anoensino,esermodesc,nmodennome,turma,nturesnome,mat,alunosexo,situ,esitaldesc
4615,2022,ANDRE DE MELO,ESTANCIA,MORAES E SILVA,180,5,1,8,9º ANO,9º ANO,ENSINO FUNDAMENTAL,A,TARDE,18046398,F,AP,APROVADO
4616,2022,ANDRE DE MELO,ESTANCIA,MORAES E SILVA,180,5,1,8,9º ANO,9º ANO,ENSINO FUNDAMENTAL,A,TARDE,19655703,F,TA,TR DUR ANO P/REDE
4617,2022,ANDRE DE MELO,ESTANCIA,MORAES E SILVA,180,5,1,8,9º ANO,9º ANO,ENSINO FUNDAMENTAL,A,TARDE,9069488,F,AP,APROVADO
4618,2022,ANDRE DE MELO,ESTANCIA,MORAES E SILVA,180,5,1,8,9º ANO,9º ANO,ENSINO FUNDAMENTAL,A,TARDE,21710317,F,AP,APROVADO
4619,2022,ANDRE DE MELO,ESTANCIA,MORAES E SILVA,180,5,1,8,9º ANO,9º ANO,ENSINO FUNDAMENTAL,A,TARDE,21676224,F,AP,APROVADO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94994,2022,VILA SESAMO,COHAB,VALE DO CARIRI,290,6,1,8,9º ANO,9º ANO,ENSINO FUNDAMENTAL,B,TARDE,14306131,F,AP,APROVADO
94995,2022,VILA SESAMO,COHAB,VALE DO CARIRI,290,6,1,8,9º ANO,9º ANO,ENSINO FUNDAMENTAL,B,TARDE,14328186,M,AP,APROVADO
94996,2022,VILA SESAMO,COHAB,VALE DO CARIRI,290,6,1,8,9º ANO,9º ANO,ENSINO FUNDAMENTAL,B,TARDE,15034879,F,AP,APROVADO
94997,2022,VILA SESAMO,COHAB,VALE DO CARIRI,290,6,1,8,9º ANO,9º ANO,ENSINO FUNDAMENTAL,B,TARDE,15073009,F,AP,APROVADO
94998,2022,VILA SESAMO,COHAB,VALE DO CARIRI,290,6,1,8,9º ANO,9º ANO,ENSINO FUNDAMENTAL,B,TARDE,22158626,F,AP,APROVADO

In [12]:
df.loc[(df['anoensino']=='9º ANO'), ['ano', 'nescolnome', 'ebairrnome', 'cescolrpae', 'anoensino', 'nturesnome', 'mat', 'alunosexo', 'situ', 'esitaldesc']]

,ano,nescolnome,ebairrnome,cescolrpae,anoensino,nturesnome,mat,alunosexo,situ,esitaldesc
4615,2022,ANDRE DE MELO,ESTANCIA,5,9º ANO,TARDE,18046398,F,AP,APROVADO
4616,2022,ANDRE DE MELO,ESTANCIA,5,9º ANO,TARDE,19655703,F,TA,TR DUR ANO P/REDE
4617,2022,ANDRE DE MELO,ESTANCIA,5,9º ANO,TARDE,9069488,F,AP,APROVADO
4618,2022,ANDRE DE MELO,ESTANCIA,5,9º ANO,TARDE,21710317,F,AP,APROVADO
4619,2022,ANDRE DE MELO,ESTANCIA,5,9º ANO,TARDE,21676224,F,AP,APROVADO
...,...,...,...,...,...,...,...,...,...,...
94994,2022,VILA SESAMO,COHAB,6,9º ANO,TARDE,14306131,F,AP,APROVADO
94995,2022,VILA SESAMO,COHAB,6,9º ANO,TARDE,14328186,M,AP,APROVADO
94996,2022,VILA SESAMO,COHAB,6,9º ANO,TARDE,15034879,F,AP,APROVADO
94997,2022,VILA SESAMO,COHAB,6,9º ANO,TARDE,15073009,F,AP,APROVADO
94998,2022,VILA SESAMO,COHAB,6,9º ANO,TARDE,22158626,F,AP,APROVADO